<mat-toolbar class="navbar">
  <mat-toolbar-row #navbar class="nav-content">
    <button mat-button id="toggler" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="nav-brand" (click)="navigateToHome()">Bloggy Blog</div>
    <div class="nav">
      <div class="nav-links">
        <button mat-button class="nav-link">
          Articles
          <i class="fas fa-caret-down"></i>
        </button>
      </div>
      <div class="nav-footer">
        <button *ngIf="!user || user?.membership?.type === 0; else writer" mat-button class="nav-link">Write for Us</button>
        <button mat-button class="nav-link">Contact</button>
        <button mat-icon-button class="nav-link" (click)="openLogin()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #writer>
  <button mat-button class="nav-link" (click)="navigateToEditor()">
    Write a Post
  </button>
</ng-template>
