.nav {
  display: none;
}

.nav-content {
  background-color: white;
}

#toggler {
  border-radius: 50%;
  padding: 0;
  width: 36px;
  min-width: 0;
}

@media only screen and (min-width: 768px) {

  .nav {
    display: flex;
    width: 100%;

    .nav-footer {
      margin-left: auto;
    }
  }

  #toggler {
    display: none;
  }
}
