<mat-toolbar class="navbar">
  <mat-toolbar-row #navbar class="nav-content">
    <button mat-button id="toggler" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="nav-brand">Bloggy Blog</div>
    <div class="nav">
      <div class="nav-links">
        <button mat-button>Articles</button>
      </div>
      <div class="nav-footer">
        <button mat-button>Write for Us</button>
        <button mat-button>Contact</button>
        <button mat-button (click)="openLogin()">Login</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
