<div class="registration">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Re-Enter Password" formControlName="repassword">
    </mat-form-field>

    <button mat-raised-button type="submit">Submit</button>
  </form>
</div>
