.content {
  width: 100%
}

.featured-article-title:hover {
  cursor: pointer;
}

.featured {
  .featured-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;

    width: 100%;
    min-height: 33vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% center;

    h3 {
      margin: 0;
      font-size: 2rem;
      margin-left: 1rem;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      margin-left: 1rem;
    }

    li {
      margin: 0.7rem;
    }
    
  }

  .featured-cards {
    margin: 1rem;

    .card {
      width: 100%;
      margin-bottom: 1rem;
      border-bottom: 1px solid #c9c9c9;

      .card-img {
        min-height: 25vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% center;
      }

      .card-content {
        .featured-article-title {
          margin-bottom: 0.25rem;
        }

        .info {
          color: #8e8e8e;

          #author {
            margin-left: 0;
          }
        }
        
      }

      .content-meta {
        .info {
          list-style: none;
          display: flex;
          margin: 0 0 0.5rem;
          padding: 0;
        }

        li {
          margin: 0 0.5rem;
          font-size: 0.85rem;
        }
      }
    }

  }
}

.article-list-container {
  background-color: #F2F2F2;
  padding-bottom: 1rem;

  .load-more-div {
    margin: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .featured-cards {
    display: flex;
    margin: 0;

    .card {
      width: 100%;
      margin: 1rem;
    }
  }
}
