$sidebar-width: 260px;

.loading {
  position: absolute;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
}

.main-content {
  transition: all .4s ease;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  overflow: auto;
  height: 100vh;
}

.main-content {
  position: fixed;
  width: 100vw;
}

.main-content.opened {
  transform: translate($sidebar-width, 0);
}

.content {
  max-width: 100%; // this shall scale later on
}

@media only screen and (min-width: 768px) {

  .content {
    margin: 0 2rem;
    max-width: 100%; // this shall scale later on
  }

}