$sidebar-width: 260px;

.list-icon {
  margin-right: 1rem;
}

.copyright {
  font-size: 0.8rem;
}

#sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: 'Lato', sans-serif !important;
  height: 100vh;

  position: fixed;
  width: $sidebar-width;

  transform: translateX(-$sidebar-width);
  transition: all .4s ease;

  .footer-nav {
    background: #ebebeb;
  }
}

mat-list-item {
  font-family: 'Lato', sans-serif;
}

.main-nav {
  mat-list-item:hover {
    cursor: pointer;
  }
}


#sidebar-content.sidebar-opened {
  transform: translateX(0);
}
