<div id="sidebar-content">
  <div class="main-nav">
    <mat-list>
      <mat-list-item (click)="openLogin()">
        <mat-icon class="list-icon">home</mat-icon>
        <p>Login</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon class="list-icon">home</mat-icon>
        <p>Home</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon class="list-icon">home</mat-icon>
        <p>Articles</p>
      </mat-list-item>
  </mat-list>
  </div>
  <div class="footer-nav">
    <mat-list>
      <mat-list-item>
        <mat-icon class="list-icon">home</mat-icon>
        <p>Contact Us</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      Copyright © 2005-2016
    </mat-list>
  </div>
</div>
