<div id="sidebar-content">
  <div class="main-nav">
    <mat-list>
      <mat-list-item (click)="openLogin()">
        <mat-icon class="list-icon">account_circle</mat-icon>
        <p>Login</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon class="list-icon">home</mat-icon>
        <p>Home</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon class="list-icon">library_books</mat-icon>
        <p>Articles</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item *ngIf="!user || user?.membership.type === 0; else writer">
        <mat-icon class="list-icon">edit</mat-icon>
        <p>Write for Us</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <ng-template #writer>
        <mat-list-item>
          <mat-icon class="list-icon">edit</mat-icon>
          <p>Write a Post</p>
        </mat-list-item>
      </ng-template>
  </mat-list>
  </div>
  <div class="footer-nav">
    <mat-list>
      <mat-list-item>
        <p>Contact Us</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p class="copyright">Copyright © 2019-Present</p>
      </mat-list-item>

    </mat-list>
  </div>
</div>
