/* You can add global styles to this file, and also import other style files */
$sidebar-width: 200px;

html, body { height: 100vh; }
body { margin: 0; font-family: 'Lato', "Helvetica Neue", sans-serif !important; }

// This is to always have the modals centered no matter how we manipulate the screen
.cdk-global-overlay-wrapper {
  width: 100vw;
  height: 100vh;
}

// Modal be 90% width for mobile
.cdk-overlay-pane {
  max-width: 90vw !important;
}

.mat-tab-labels {
  justify-content: space-around;
}

.mat-ink-bar {
  background-color: #3F51B5 !important;
}
