.list {
  min-height: 3rem;
  width: 100%;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 1rem;
  }

  .article-card {
    display: flex;

    .image {
      max-width: 25%;

      img {
        width: 100%;
      }
    }

    .image:hover {
      cursor: pointer;
    }

    .meta {
      font-family: "Lato", "Helvetica Neue", sans-serif !important;
      margin: 0 0.5rem;

      h3:hover {
        cursor: pointer;
      }

      .info {
        color: #8e8e8e;
        font-size: 0.85rem;
      }
      
    }
  }
}

.feat-header {
  display: flex;

  .secondary-feature-icon {
    margin-left: 0.7rem;
  }

  mat-icon:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .list {
    width: 66%;
  }
}